body {
  background-color: #333333;
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  width: 1000px;
  background-color: #333;
}

/*-- Header --*/

.mainHeader {
  background-color: #000;
  width: 100%;
  height: 80px;
}

.logoHeader {
  float: left;
  background-color: #000;
  padding-top: 10px;
  padding-left: 10px;
}
.mainNav {
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: 'Exo 2', sans-serif;
}

.mainNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
 text-align: center;
}

.mainNav li {
  display: inline;
}

.mainNav li a {
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

/*-- Close Header --*/

/*-- Start Video --*/

.mainVid {
  text-align: center;
  height: 524px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

/*-- Close Video --*/

/*-- Start Title --*/

.title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Source Code Pro', monospace;
  font-size: 50px;
  color: white;
}

/*-- Close Title --*/

/*-- Start Footer --*/

.mainFooter {
  background-color: #000;
  width: 100%;
  height: 80px;
  
/*-- Close Footer --*/